@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.App {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-color: #272727;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.App .container h1 {
  font-size: 1.5rem;
}

button {
  width: 100px;
  font-size: 1.5rem;
  height: 50px;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  text-decoration: none;
  transition: all 0.15s;
}
.decrement:hover {
  color: red;
  border-color: #dddddd;
}
.decrement:active {
  color: red;
  border-color: #bbbbbb;
}
.increment:hover {
  color: green;
  border-color: #dddddd;
}
.decrement:active {
  color: green;
  border-color: #bbbbbb;
}
